{{#each people}}
    <div class="contact card">
        <div>
            <i class="far fa-user-circle gravatar"></i>
        </div>
        <div class="info">
            {{> userInfoPartial }}
        </div>
    </div>
{{/each}}