<h1>Add Cat</h1>

<form asp-action="Add">
    <div>
        Name: <input type="text" name="name" />
    </div>
    <div>
        Age: <input type="text" name="age" />
    </div>
    <div>
        Breed: <input type="text" name="breed" value="" />
    </div>
    <div>
        ImageUrl: <input type="url" name="imageUrl" value="" />
    </div>

    <button type="submit">Add Cat</button>
</form>