@model IEnumerable<FDMC.Models.Cat>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Fluffy Duffy Munchin Cats</h1>

<ul>
    @foreach (var cat in Model)
    {
        <li>
            <a asp-action="Details" asp-route-id="@cat.Id">@cat.Name</a>
        </li>
    }
</ul>

<a asp-action="Add" class="btn btn-secondary">Add Cat</a>
@*<a asp-action="Add" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">Add Cat</a>*@