@model EventTicket.Models.User

<div class="container-fluid">
    <div class="justify-content-md-center">
        <h1>
            Greetings, @Model.Role - @Model.UserName!
        </h1>
        <hr />
        <p>
            Eventures wishes you an exciting experience.
        </p>
    </div>
</div>