<div class="container-fluid">
    <div class="justify-content-md-center">
        <h1>
            Eventures - The Best Ticketing System in the World.
        </h1>
        <hr />
        <p>
            <a asp-area="Identity" asp-page="/Account/Login">Login</a> to start "eventing"
        </p>
        <p>
            <a asp-area="Identity" asp-page="/Account/Register">Register</a> if you don't have an account.
        </p>
    </div>
</div>