<div class="container-fluid">
    <div class="justify-content-md-center">
        <h1>
            Welcome, @this.User.Identity.Name!
        </h1>
        <hr />
        <p>
            Eventures wishes you an exciting experience.
        </p>
    </div>
</div>